@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

/* *::-webkit-scrollbar {
  display: none;
} */

body {
  background-image: linear-gradient(#122f65, #3665bc);
  min-height: 100vh;
}

.todo-container {
  max-width: 700px;
  margin: 50px auto;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
}

.todo-title {
  font-family: "Roboto" ;
  text-align: center;
  margin-bottom: 25px;
  color: #222;
  font-size: 2rem;
}
